*
{
    margin: 0;
    padding: 0;
}

img{ 
    height: 120px;
}

nav{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin: 6px;
}
 
li:hover{
 border-bottom: 3px solid cornflowerblue;
 cursor: pointer;   
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
}
